.wrapper-layout-FQAS {
  padding: rem(24) 0;
  display: flex;
  gap: rem(18);
  flex-direction: column;

  .header-content-FQAS {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(12);

    @include tablet {
      padding: rem(8);
      gap: rem(6);
    }

    > h2 {
      color: #3e4095;
      font-size: rem(24);
      font-weight: bold;

      @include tablet {
        font-size: rem(18);
      }
    }
  }

  .content-main-FQAS {
    background-color: white;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    padding: rem(32) rem(24);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    gap: rem(0);

    .item-FQAs {
      .header-child-item {
        font-style: normal;
        font-weight: 700;
        font-size: rem(18);
        line-height: 140%;
        color: #181818;
        user-select: none;
      }
      .descriptions {
        font-style: normal;
        font-weight: 400;
        font-size: rem(16);
        line-height: 160%;
        padding-left: rem(18);
        .item-descriptions {
          color: #3e4095;
          font-weight: bold;
          float: left;
        }
      }
    }
  }
}

.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
}
