.courses-page{

  .course-item{
    width: calc(50% - 0.75rem);
  }

}

.review-page{
  .ant-btn {
    border-radius: 0.25rem !important;
    padding: 0.625rem 2rem !important;
    height: auto !important;
  }
  .icon-shark{
    filter: drop-shadow(2px 2px 40px rgba(0, 0, 0, 0.16));
  }
}