.src-components-menuheader-index {
  width: 100%;
  padding: rem(20) rem(48);
  background: transparent;

  @include tablet {
    padding: rem(20) rem(24);
  }
  @include mobile {
    display: none;
  }
}

.reponsive-tablet-blog-homepage {
  @include tablet {
    margin-top: 3rem;
  }
}
